@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, 
pre,form, fieldset, legend, button, input, textarea,th, td { margin: 0; padding: 0;}
body,button, input, select, textarea {font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;}
h1, h2, h3, h4, h5, h6 { font-size: 100%;}
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; } 
small { font-size: 12px; } 
ul, ol { list-style: none; }
a { text-decoration: none;cursor:pointer; outline:none;}
em { font-style:normal}
sup { vertical-align: text-top; } 
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset, img { border: 0; } 
button, input, select, textarea { font-size: 100%; } 
table { border-collapse: collapse; border-spacing: 0; }
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {  display: block; margin: 0;padding: 0;}
mark { background: #ff0; }
q:before,q:after,blockquote:before,blockquote:after { content:""; }
a:focus { outline: none; }
a:hover, a:active { outline:0; }


.widget-calender-container{position: absolute;z-index: 9;display:none;background-color:#f7f7f7;}
.widget-calender-container .widget-calendar-btnHover{ background-color: #0387CF; color: #FFFFFF;color:#ffffff;line-height: 25px;}
.widget-calender-container .widget-calendar-footer .widget-calendar-footerBtn{height:26px;width:92px;margin: 0 auto;}
.widget-calender-container .widget-calendar-footer .widget-calendar-submit,
.widget-calender-container .widget-calendar-footer .widget-calendar-close{width:40px;float:left;text-align: center;_display:inline;}
.widget-calender-container .widget-calendar-tab{height: 240px;margin:16px 16px 0 16px;}
.widget-calender-container .widget-calendar-tab-title{height: 24px;border-bottom:2px solid #666666;margin-bottom:5px;}
.widget-calender-container .widget-calendar-tab .tab-title{height: 24px;width:120px;margin-left:5px;float:left;line-height:24px;text-align:center;background-color:#e3e3e3;color:#000;cursor:pointer; }
.widget-calender-container .widget-calendar-tab .selected{background-color:#666666;color:#fff;font-weight:bold; }
.widget-calender-container .widget-calendar-tab .hovered{background-color:#cccccc; }
.widget-calender-container .widget-calendar-tab .enabled{background-color:#e3e3e3;color:#bbbbbb;cursor:default; }
.widget-calender-container .widget-calendar-main{height: 206px;}
.widget-calender-container .widget-calendar-left{height: 206px;width:26px;float:left;}
.widget-calender-container .widget-calendar-right{height: 206px;width:26px;float:left;}
.widget-calender-container .widget-calendar-main-week{height: 206px;}
.widget-calender-container .widget-calendar-main-week .leftWeek{float:left;height: 206px;width:85px;border-right:1px solid #e3e3e3;}
.widget-calender-container .widget-calendar-main-week .leftWeek li{line-height:25px;text-align:center;cursor:pointer;color:#000;}
.widget-calender-container .widget-calendar-main-week .leftWeek li.hovered{background-color:#d6d6d6;}
.widget-calender-container .widget-calendar-main-week .leftWeek li.selected{background-color:#b5b5b5;color:#fff;}
.widget-calender-container .widget-calendar-main-week .rightWeek{float:left;height: 206px;}
.widget-calender-container .widget-calendar-left .widget-calendar-prevYearBtn{border:1px solid #b6b6b6;width:24px;height: 24px;margin-bottom:4px;}
.widget-calender-container .widget-calendar-left .widget-calendar-prevYearBtn .prevYearBtn{width:24px;height: 24px;background:url("calendar.png") 0 0 transparent;display:inline-block;}
.widget-calender-container .widget-calendar-left .hovered .prevYearBtn{background-position: 0px -25px;}
.widget-calender-container .widget-calendar-left .selected .prevYearBtn{background-position: 0px -50px;}
.widget-calender-container .widget-calendar-left .disabled .prevYearBtn{background-position: 0px -75px;cursor: default;}
.widget-calender-container .widget-calendar-left .widget-calendar-prevMonthBtn{border:1px solid #b6b6b6;width:24px;height: 169px;background-color:#ffffff;cursor: pointer;}
.widget-calender-container .widget-calendar-left .widget-calendar-prevMonthBtn .prevBtn{width:24px;height: 24px;background:url("calendar.png") -24px 0 transparent;display:inline-block;margin-top:73px;}
.widget-calender-container .widget-calendar-left .hovered{background-color:#EFEFEF;}
.widget-calender-container .widget-calendar-left .hovered .prevBtn{background-position: -24px -25px;}
.widget-calender-container .widget-calendar-left .selected{background-color:#DFDFDF;}
.widget-calender-container .widget-calendar-left .selected .prevBtn{background-position: -24px -50px;}
.widget-calender-container .widget-calendar-left .disabled{background-color:#F7F7F7;cursor: default;}
.widget-calender-container .widget-calendar-left .disabled .prevBtn{background-position: -24px -75px;cursor: default;}
.widget-calender-container .widget-calendar-right .widget-calendar-nextYearBtn{border:1px solid #b6b6b6;width:24px;height: 24px;margin-bottom:4px;}
.widget-calender-container .widget-calendar-right .widget-calendar-nextYearBtn .nextYearBtn{width:24px;height: 24px;background:url("calendar.png") -72px 0 transparent;display:inline-block;}
.widget-calender-container .widget-calendar-right .hovered .nextYearBtn{background-position: -72px -25px;}
.widget-calender-container .widget-calendar-right .selected .nextYearBtn{background-position: -72px -50px;}
.widget-calender-container .widget-calendar-right .disabled .nextYearBtn{background-position: -72px -75px;cursor: default;}
.widget-calender-container .widget-calendar-right .widget-calendar-nextMonthBtn{border:1px solid #b6b6b6;width:24px;height: 169px;background-color:#ffffff;cursor: pointer;}
.widget-calender-container .widget-calendar-right .widget-calendar-nextMonthBtn .nextBtn{width:24px;height: 24px;background:url("calendar.png") -48px 0 transparent;display:inline-block;margin-top:73px;}
.widget-calender-container .widget-calendar-right .hovered{background-color:#EFEFEF;}
.widget-calender-container .widget-calendar-right .hovered .nextBtn{background-position: -48px -25px;}
.widget-calender-container .widget-calendar-right .selected{background-color:#DFDFDF;}
.widget-calender-container .widget-calendar-right .selected .nextBtn{background-position: -48px -50px;}
.widget-calender-container .widget-calendar-right .disabled{background-color:#F7F7F7;cursor: default;}
.widget-calender-container .widget-calendar-right .disabled .nextBtn{background-position: -48px -75px;cursor: default;}
.widget-calender-container .widget-calendar-content{height: 206px;float:left;}
.widget-calender-container .widget-calendar-content .widget-calendar-item{float:left;width:170px;margin:0 3px;_display:inline;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-title{text-align: center;line-height:30px;float: left;width:170px;} 
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-dateTxt{height:24px;line-height:24px;width:168px;border:1px solid #b6b6b6; text-align: center; margin-bottom: 4px;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-dateTxt .txt{height:24px;line-height:24px;width:168px;text-align: center;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .hovered .txt{background-color: #EFEFEF;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .selected .txt{background-color: #DFDFDF;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .dateTxtDisable{cursor: default;color: #cccccc;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-week{float: left;background-color:#e3e3e3;border:1px solid #e3e3e3;border-bottom:none;} 
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-week .calendar-weekLi{width:24px;float:left;height:24px;line-height:24px;text-align: center;} 
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-lineUl{float: left;height:144px;border:1px solid #e3e3e3;} 
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-colLi{float:left;height:24px;line-height:24px;text-align: center;width:24px;} 
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-colLi a{display: inline-block;height:24px;line-height:24px;text-align: center;width:24px;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-colLi a.notTime{cursor: default;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-colLi a.aSelected{line-height:24px;height:24px;width:24px;background-color:#1c91db;font-weight: bold;color:#fff;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-colLi a.aHovered{line-height:24px;height:24px;width:24px;background-color:#d0eafb;color:#000;}
.widget-calender-container .widget-calendar-content .widget-calendar-item .calendar-colLi a.aDisabled{cursor: default;color:#cccccc;}
.widget-calender-container .widget-calendar-footer{background-color:#FFFFFF;zoom:1;overflow:hidden;border-top:1px solid #E3E3E3;padding:6px 0 6px 0;line-height:26px;height:26px;}
.widget-calender-container .errorTipBr{float:none;height: 26px;color:#ff0000;line-height: 26px;clear:both;background-color:#FFFFFF;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input{float:left;height: 26px;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .spanTxt1{float:left;height: 26px;line-height: 26px;margin-right:5px;display:inline-block;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .spanTxt2{float:left;height: 26px;line-height: 26px;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .timeInput{float:left;height: 20px;width:70px;border:none;padding:2px 7px;border:1px solid #b6b6b6;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .selected{border:1px solid #1C91DB;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .errored{border:1px solid red;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .disabled{border:1px solid #CCCCCC;color:#ccc;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .timeInputSt{margin-right:5px;}
.widget-calender-container .widget-calendar-footer .widget-calendar-input .timeInputEt{margin-left:5px;}
.widget-calender-container .widget-calendar-footer .widget-calendar-errorTip{margin-left:10px;float:left;height: 26px;color:#ff0000;line-height: 26px;}
.widget-calender-container .widget-calendar-footer .widget-calendar-footerBtn{float:right;}
.widget-calender-container .widget-calendar-footer .widget-calendar-submit{height:26px;line-height:26px;height:26px;width:40px;background-color:#f84f1b;color:#FFFFFF;margin-right:10px;}
.widget-calender-container .widget-calendar-footer .widget-calendar-close{height:24px;line-height:24px;height:24px;width:40px;background-color:#FFFFFF;color:#545454;border:1px solid #bcbcbc;}
.widget-calender-container .widget-calendar-footer .widget-calendar-submit .submitBtn,
.widget-calender-container .widget-calendar-footer .widget-calendar-close .closeBtn{line-height: 24px; display: inline-block;width: 40px;}
.widget-calender-container .widget-calendar-footer .hovered .submitBtn{background-color:#f8251b;}
.widget-calender-container .widget-calendar-footer .hovered .closeBtn{background-color:#dfdfdf;}

.widget-calender-container{border:1px solid #b6b6b6;padding:10px;
    -moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;
}
